exprgrad/wrappers/llvm
exprgrad/wrappers/my_module.bc
exprgrad/wrappers/llvm_ext.o
examples/xor/xor
examples/xor_from_scratch/xor_from_scratch
examples/matmul/matmul
examples/fashion_mnist/data/
examples/fashion_mnist/fashion_mnist
examples/fashion_mnist/model.*
examples/gan/data/
examples/gan/gan
examples/gan/model.*
examples/gan/sample.ppm
benchmarks/conv2/conv2
benchmarks/conv2/nimcache
tests/test_tensors
tests/test_model
tests/test_serialize
tests/test_json
tests/test_dnn
tests/test_csv
tests/test_gpu
tests/test_idxformat
tests/data.bin
old/
docs/assets/social-banner/
data.bin

